<div class="row">
	<div class="col-lg-10 offset-lg-1">
		<%= link_to "Volver", '/reports' %>
		<div class="table-responsive">
			<table class="table table-hover table-stripped">
				<thead>
					<tr>
						<th>
							Número de registros
						</th>
						<th>
							Fecha con mayor número de registros
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @number_of_records %></td>
						<td><%= @date_most_records %>-(<%= @date_most_records_number %>)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>